<style>
#editor {
	position: absolute;
	width: 50%;
	height: 100%;
	left: 0;
	top: 0;
}
#preview {
	position: absolute;
	width: 50%;
	height: 100%;
	left: 50%;
	top: 0;
}
#console {
	position: absolute;
	width: 100%;
	height: 20%;
	left: 0;
	top: 80%;
}
</style>
<div id="editor"></div>
<div id="preview"></div>
<!--<div id="console" class="frame">CONSOLE.DUMMY</div>-->
<script src="ace-builds/src/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="compile.js" type="text/javascript" charset="utf-8"></script>
<script src="editor-setup.js" type="text/javascript" charset="utf-8"></script>
<script>
    function onEditorChange(evt) {
        const src = editor.getValue();
        const out = compile(src);
        preview.setValue(out);
        preview.clearSelection();
    }

    function onStart(evt) {
        const store = window.localStorage;
        editor.setValue(localStorage.getItem('source'));
    }
    
    function onExit(evt) {
        const store = window.localStorage;
        localStorage.setItem('source',editor.getValue());
    }

    window.onload = onStart;
    window.onbeforeunload = onExit;

    var editor = ace.edit("editor");
    editorSetup(editor);
    var preview = ace.edit("preview");
    outputSetup(preview);

    preview.setReadOnly(true);
    editor.on("change", onEditorChange);
    editor.focus();

    // and run it once, to populate the compiled output from the demo
    onEditorChange();
</script>
